* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 78, 9);
  background-color: darkslategrey;
  background-color: darkolivegreen;
  background-color: black;
  padding: 2rem;
}

.date-time {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: gray;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

nav a:not(nav a:last-child) {
  margin-right: 1.5rem;
}

.tabs {
  margin-top: 1rem;
  padding: 0;
  justify-content: flex-start;
  border: 2px solid white;
  border-bottom: none;

  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      background-color: white;
      padding: 0.25rem 0.5rem;
      user-select: none;
    }

    .tab:hover {
      background-color: darkgray;
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  background-color: darkslategrey;
  border: 2px solid white;
  border-top: none;
}

.yard {
  background-color: black;
}

.due .col footer {
  justify-content: flex-end !important;
  background-color: red;
}

.col {
  display: flex;
  *flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  /*margin-bottom: 1rem;*/
  background-color: black;
  *margin-right: 3rem;
}

.col:last-child {
  margin-right: 0;
}

.yard .col {
  background-color: darkslategray;
}


.col:nth-child(2) {
  background-color: gray;
}

.col h2 {
  background-color: white;
  padding: 0.5rem 1rem;
}

.yard .col h2 {
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  min-width: 15rem;
  margin: 0.5rem 0.25rem 0.25rem 0.5rem;
}

form header {
  display: flex;
  justify-content: space-between;
}

form footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.material {
  font-weight: 700;
}

.customer {
  font-weight: 500;
}

.status-icon {
  margin-right: 1rem;
  color: darkgreen;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: chocolate;
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 2rem;
  color: white;
  padding: 3px;
}

.forward {
  background-color: darkgreen;
  background-color: transparent;
  color: black;
}

.redo {
  background-color: red;
}

.ico-container {
  display: flex;
  justify-content: space-between;
}

.search-icon {
  position: relative;
  left: 0.5rem;
  color: black;
  cursor: text;
}

.reset-icon {
  position: relative;
  right: -12.5rem;
  transform: scale(1.5);
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  border: 2px solid gray;
  padding: 0.5rem 1rem 0.5rem 1.75rem;
  font-size: 1rem;
  width: 100%;
  *color: white;
  margin-left: -2rem;
}

label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

label input {
  height: 1rem;
  width: 1rem;
}

.admin {
  flex-direction: column;
  background-color: transparent;

  table {
    border-collapse: collapse;
    margin: 1rem auto 1rem;
    border: 3px solid grey;
    color: white;
    width: 100%;
    max-width: 550px;

    thead {
      border: 3px solid gray;

      tr {
        border: 3px solid gray;
        color: white;
      }

      th {
        *color: black;
        border: 3px solid gray;
        text-transform: uppercase;

      }
    }

    th,
    td {
      border: 1px solid gray;
      padding: 0.5rem;
      *min-width: 10rem;
    }

    .table-day {
      border-right: none;
    }

    .table-date {
      border-left: none;
    }
  }

  table:last-child {
    margin-bottom: 2rem;
  }
}

.due form footer,
.waiting form footer {
  justify-content: flex-end;
}



@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .col:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 1rem;
  }

  .col {
    width: 100%;
  }
}